In [4]:
import pandas as pd

df = pd.read_csv("C:/Users/skabe/OneDrive/Documents/Rudder_Works/SCHOOL/MUT[I.T]/Technical Programming II/2024/TEST 2/bky6-3za5.csv")

def insertion_sort(arr):
    for i in range(1, len(arr)):
        key = arr[i]
        j = i - 1
        while j >= 0 and key < arr[j]:
            arr[j + 1] = arr[j]
            j -= 1
        arr[j + 1] = key

population = df['ward_id'].values
insertion_sort(population)
df['ward_id'] = population

print("DataFrame after sorting 'Ward ID' in ascending order:")
print(df)

DataFrame after sorting 'Ward ID' in ascending order:
             is_cluster    pocket_name                pocket_alias   ward_id  \
0                4 in 1         4 in 1  Wallacedene 14 / J Section  19100004
1           Acacia Road    Acacia Road      Acacia Park - Parktown  19100004
2             Amy Biehl      Amy Biehl                 School Site  19100004
3           Appel Boord    Appel Boord                         NaN  19100004
4                Area K         Area K                 Never Never  19100004
..                  ...            ...                         ...       ...
429  Wolweriver Pockets     Wolweriver                         NaN  19100109
430         YAB Section  YAB Section 1        Victoria Mxenge 8645  19100109
431         YAB Section  YAB Section 3        Victoria Mxenge 8317  19100110
432          Zille Rain     Zille Rain         Zille Rains Heights  19100110
433        Zola Section   Zola Section                         NaN  19100111

             ward_councillor  avg_hhsize  area_ha  density_dwellings  \
0        Simpiwe Nonkeyizana        3.72    2.952          50.813008
1            Melanie Arendse        4.51    0.070         114.285714
2           Fikiswa Nkunzana        2.89    1.711         301.578025
3            Johanna Martlow        4.14    0.088         159.090909
4    Patrick (Pat) Pietersen        4.17    2.661         249.154453
..                       ...         ...      ...                ...
429        Lubabalo Makeleni        2.57    7.889           5.323869
430           Monde Mabandla        3.41    1.340         202.985075
431           Monde Mabandla        3.41    0.973          27.749229
432           Shanen Rossouw        4.55    0.801          66.167291
433        Mthwalo Mkutswana        3.73    0.092         260.869565

     structure_count      age_of_is  ... toilets_full_flush  toilets_chemical  \
0                150  15 - 20 years  ...               32.0               0.0
1                  8  10 - 15 years  ...                3.0               2.0
2                516  15 - 20 years  ...               93.0               0.0
3                 14   5 - 10 years  ...               10.0               0.0
4                663  10 - 15 years  ...              121.0               0.0
..               ...            ...  ...                ...               ...
429               42  15 - 20 years  ...                0.0              18.0
430              272     > 20 years  ...                0.0               0.0
431               27  15 - 20 years  ...                0.0               0.0
432               53   5 - 10 years  ...                0.0              16.0
433               24  10 - 15 years  ...                8.0               0.0

     toilets_portable  toilets_container  toilets_other  toilets_total  \
0                 0.0                0.0            0.0           32.0
1                 0.0                0.0            0.0            5.0
2                 0.0                0.0            0.0           93.0
3                 0.0                0.0            0.0           10.0
4                 0.0                0.0            0.0          121.0
..                ...                ...            ...            ...
429              30.0                0.0            6.0           54.0
430               0.0                0.0            0.0            0.0
431               0.0                0.0            0.0            0.0
432               0.0                0.0            0.0           16.0
433             191.0                0.0            0.0          199.0

     ratio_toilets_dwellings  pocket_code  centroidx  centroidy
0                        1:5    NORFOU001  18.732603 -33.863384
1                        1:2    HILACA001  18.501024 -34.032822
2                        1:6    MITAMY001  18.587852 -34.002772
3                        1:1    TYGAPP001  18.609142 -33.926268
4                        1:5    MITARE001  18.598543 -34.008208
..                       ...          ...        ...        ...
429                      1:1    NORWOL001  18.517303 -33.734345
430                      NaN    KHAYAB003  18.662064 -34.029229
431                      NaN    KHAYAB002  18.663659 -34.029142
432                      1:3    HILZIL001  18.499941 -34.034671
433                      1:0    KHAZOL001  18.680415 -34.039633

[434 rows x 22 columns]